@import 'reset';

:root {
  --text-color: hsl(0, 0%, 88%);
  --border-color: hsl(240, 14%, 40%);
  --button-color: hsl(350, 80%, 55%);
  --button-hover-color: hsl(350, 80%, 60%);
  --button-active-color: hsl(350, 70%, 50%);
  --button-text-color: #fff;
  --title-color: hsl(0, 0%, 88%);
  --sub-title-color: hsl(240, 10%, 50%);
  font-family: -apple-system, sans-serif;
  background-color: hsl(240, 14%, 23%);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

#app {
  padding: 1rem 0;
  margin: 0 auto;
  max-width: 60rem;
}

.button {
  --button-text-color: hsl(240, 20%, 50%);
  --button-color: hsl(240, 20%, 30%);
  --button-hover-color: hsl(240, 20%, 35%);
  --button-active-color: hsl(240, 20%, 30%);
  margin: 0 1rem 0.75rem auto;
  display: block;
  box-sizing: border-box;
  background-color: var(--button-color);
  color: var(--text-color);
  border: 0 none;
  padding: 0.25rem 2rem;
  font-size: 0.8rem;
  line-height: 1.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
  &:hover {
    background-color: var(--button-hover-color);
  }
  &:active {
    background-color: var(-button-active-color);
  }
}

.search-container {
  padding: 0 1rem;
  .search-input {
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    background-color: transparent;
    color: inherit;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    width: 100%;
    &::placeholder {
      font-size: 0.8rem;
    }
  }
}

.program-container {
  padding: 0 1rem;
  margin-top: 0.5rem;
}

.program-item {
  --row-padding: 0.5rem;
  --button-color: hsl(350, 80%, 55%);
  --button-hover-color: hsl(350, 80%, 60%);
  --button-active-color: hsl(350, 70%, 50%);
  --button-text-color: #fff;
  --title-color: hsl(0, 0%, 88%);
  --sub-title-color: hsl(240, 10%, 50%);
  padding: 0 var(--row-padding);
  font-size: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  & + .program-item {
    border-top: 1px solid var(--border-color);
  }
  &:hover:not(.show-detail) {
    background-color: hsl(240, 16%, 25%);
  }
  &.watched {
    --title-color: var(--sub-title-color);
    --button-text-color: hsl(240, 20%, 50%);
    --button-color: hsl(240, 20%, 30%);
    --button-hover-color: hsl(240, 20%, 35%);
    --button-active-color: hsl(240, 20%, 30%);
  }
  .program-item-title {
    flex: 1 1 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    line-height: 1.5;
    padding: calc(0.5rem + 0.175rem) 0;
    .title {
      color: var(--title-color)
    }
    .episode, .subtitle, .episode-count, .time-ago {
      color: var(--sub-title-color)
    }
    .title, .episode, .subtitle, .episode-count, .time-ago {
      display: block;
      flex: 0 0 auto;
      max-width: calc(100% - 0.5rem);
      text-overflow: ellipsis;
      overflow: hidden;
      margin-right: 0.5rem;
    }
    .time-ago {
      margin-left: auto;
    }
  }
  .program-item-button-container {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .program-item-button {
      font-size: inherit;
      line-height: inherit;
      display: block;
      padding: 0.175rem 1rem;
      margin: 0.5rem 0;
      line-height: 1.5;
      border: 0 none;
      border-radius: 0.175rem;
      background-color: var(--button-color);
      color: var(--button-text-color);
      cursor: pointer;
      @media(max-width: 30rem){
        padding: 0.25rem 0.5rem;
        font-size: 0.7rem;
      }
      &:hover {
        background-color: var(--button-hover-color);
      }
      &:active {
        background-color: var(--button-active-color);
      }
    }
    .program-item-button + .program-item-button {
      margin-left: 0.5rem;
    }
  }
  .program-item-detail-container {
    flex: 0 0 100%;
    margin-bottom: 0.5rem;
    .program-item-detail {
      line-height: 1.5;
      & + .program-item-detail {
        margin-top: 1rem;
      }
      .program-item-detail-name {
        color: hsl(350, 80%, 55%);
      }
      .program-item-detail-value {
        a {
          text-decoration: underline;
        }
      }
      .program-item-detail-series-container {
        border: 1px solid var(--border-color);
        background-color: hsl(240, 14%, 21%);
        border-radius: 0.25rem;
        margin: 0 -0.5rem 0.175rem;
        .program-item {
          padding-left: calc(var(--row-padding) - 1px);
          padding-right: calc(var(--row-padding) - 1px);
        }
      }
    }
  }
}